{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Deployment plugin for Craft CMS
 *
 * Deployment Widget Body
 *
 * @author    Praveen
 * @copyright Copyright (c) 2018 Praveen
 * @link      smsglobal.com
 * @package   Deployment
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@smsg/deployment/assetbundles/deploymentwidget/dist', true) ~ '/img/Deployment-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
