{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Deployment plugin for Craft CMS
 *
 * Deploy Utility Content
 *
 * @author    Praveen
 * @copyright Copyright (c) 2018 Praveen
 * @link      smsglobal.com
 * @package   Deployment
 * @since     1.0.0
 */
#}

<h1>Deploy</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@smsg/deployment/assetbundles/deployutility/dist', true) ~ '/img/Deploy-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>