{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * deployer plugin for Craft CMS
 *
 * Deployer Utility Content
 *
 * @author    Praveen
 * @copyright Copyright (c) 2018 Praveen
 * @link      https://github.com/allampraveen/
 * @package   Deployer
 * @since     1.0.0
 */
#}

<h1>Deployer</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@smsg/deployer/assetbundles/deployerutility/dist', true) ~ '/img/Deployer-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>